
separator {
  min-height: 2px;
  min-width: 2px;
  background-color: #D3D7CF;
}

window {
  background-color: #FFFFFF; /* Light neutral background */
}

button {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #2E3436;
  background-image: none;
  background-color: #EDEDED;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
}

button:active {
  background-color: #D3D7CF;
  border-style: inset;
}

button:hover {
  background-color: #F5F5F5;
  transition: background-color 0.2s ease-in-out;
}

label {
  color: #2E3436;
  font-weight: normal;
}

dialog {
  background-color: #FFFFFF;
}

entry {
  border: 1px solid #CFCFCF;
  background-color: #FFFFFF;
  color: #2E3436;
  border-radius: 2px;
}

menubar {
  background-color: #EDEDED;
}

menuitem:hover {
  background-color: #D3D7CF;
  box-shadow: inset 0 -1px 0 0 #AAAAAA;
  transition: background-color 0.2s ease-in-out;
}

menu {
  background-color: #FFFFFF;
}

textview text {
  background-color: transparent;
  color: #2E3436;
}

textview {
  padding: 10px;
  background-color: transparent;
}

frame border {
  border-color: #CFCFCF;
  border-width: 2px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

frame {
  margin: 5px;
}

tooltip {
  background-color: #FFFFDD;
  border: 1px solid #CFCFCF;
  padding: 6px;
}

tooltip label {
  color: #2E3436;
  font-style: normal;
  font-weight: normal;
}
treeview {
  background-color: #FFFFFF;
}
headerbar{
  background-color: #FFFFFF;
}
stack{
  background-color:#FFFFFF;
}
list{
  background-color:#FFFFFF;
}
