separator {
	min-height: 2px;
	min-width: 2px;
  background-color: #C9A227;
}
window {
	background-color: #1E1E2E;
}
button {
	padding-top: 0px;
	padding-bottom: 0px;
	color: #E5C07B;
  background-image: none;
  background-color: #1E1E2E;
  border: 0.25px solid #E5C07B; 
}
button:active {
  background-color: #2B2B3C;
  font-style: italic;
  border-style: none;
}
button:hover {
  background-color: #C9A227;
}
label {
  color: #A0B9C6;
}
dialog {
  background-color: #1E1E2E;
}
entry {
  border: 0.25px solid #E5C07B;
  background-color: #2B2B3C;
}
menubar {
  background-color: #2B2B3C;
}
menuitem:hover {
	box-shadow: inset 0 -2px 0 0 #C9A227;
  background-color: #3C3C4F;
}
menu {
  background-color: #2B2B3C;
}
textview text {
  background-color: transparent;
  color: #C9A227;
  font-style: italic;
  font-weight: bold;
}
textview {
  padding: 10px;
  background-color: transparent;
}
frame border {
  border-color: #C9A227;
  border-width: 2px;
  border-radius:15px; 
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;  
}
frame {
  margin: 5px;
}
tooltip {
  background-color: #1E1E2E;	
}
tooltip label {
  color: #C9A227;
  font-style: italic;
  font-weight: bold;
}
treeview {
  background-color: #1E1E2E;
}
headerbar{
  background-color: #1E1E2E;
}
stack{
  background-color: #1E1E2E;
}
list{
  background-color: #1E1E2E;
}
