separator {
	min-height: 2px;
	/*opacity: 1.0;*/
	min-width: 2px;
  background-color: #82642C;
  /*opacity: 0.5;*/
}
window {
	background-color: #0F0F0F;
}
button {
	padding-top: 0px;
	padding-bottom: 0px;
	color: #DBD56E;
  background-image: none;
  background-color: #0F0F0F;
  border: 0.25px solid #DBD56E; 
}
button:active{
  background-color: #0F0F0F;
  font-style: italic;
  border-style: none;
  transition: background-image 0.2s ease-in-out;
}
button:hover {
  background-color: #82642C;
  transition: background-color 0.2s ease-in-out;
}
label {
  color: #BBDEF0;
}
dialog {
  background-color: #0F0F0F;
}
entry {
  border: 0.25px solid #DBD56E;
  background-color: #191919;
}
menubar {
  background-color: #191919;
}
menuitem:hover {
	box-shadow: inset 0 -2px 0 0 #82642C;
  transition: box-shadow 0.2s ease-in-out;
  background-color: #262626;
  transition: background-color 0.2s ease-in-out;
}
menu {
  background-color: #191919;
}
textview text{
  background-color: transparent;
  color: #82642C;
  font-style: italic;
  font-weight: bold;
}
textview {
  padding: 10px;
  background-color: transparent;
}
frame border{
  border-color: #82642C;
  border-width: 2px;
  border-radius:15px; 
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;  
}
frame{
  margin: 5px;
}
tooltip{
  background-color: #0F0F0F;	
}
tooltip label{
  color: #82642C;
  font-style: italic;
  font-weight: bold;
}
